<div class="notice-wrapper">

  <div class="notice-header">
    <h2>📢 Notices</h2>
  </div>

  <!-- LOADING -->
  <div *ngIf="loading" class="loading">
    Loading notices...
  </div>

  <!-- NO DATA -->
  <div *ngIf="!loading && notices.length === 0" class="no-notice">
    No notices available
  </div>

  <!-- DATA -->
  <div *ngIf="!loading && notices.length > 0" class="notice-grid">
    <div *ngFor="let n of notices" class="notice-card">
      <h4>{{ n.title }}</h4>
      <p>{{ n.message }}</p>
      <span class="date">
        {{ n.created_at | date:'medium' }}
      </span>
    </div>
  </div>

  <!-- BACK BUTTON AT BOTTOM -->
  <div class="back-container">
    <button class="back-btn" routerLink="/resident">
      ⬅ Back to Dashboard
    </button>
  </div>

</div>
